
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/StyleSheets/style.css" rel="stylesheet" />
    
</head>
<body>
    <h1>Admin Sayfası</h1>
    <div style="text-align: center; margin-top: 2rem;">
        <button id="Selam" class="btn btn-info thick" type="button" onclick="location.href='@Url.Action("AddNewBook")'">Kitap ekle</button>
        <button id="list_users" class="btn btn-info thick" type="button" onclick="location.href='@Url.Action("ListUsers")'">Kullanıcıları listele</button>

        <form action="/Home/ShiftTime" method="post" style="display: inline-block;">
            <button class="btn btn-info thick" type="submit">20 gün atla</button>
        </form>

    </div>

    <div style="text-align: center; margin-top: 2rem;">
        <p class="label-date">Tarih: @ViewBag.currentDateText</p>
    </div>
   
</body>
</html>
