
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GiveBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/StyleSheets/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Kitap Ver</h1>
    <h5 style="text-align: center;">(@ViewBag.userName)</h5>

    <div id="loginform"> 
        <form action="GiveBook" method="post" enctype="multipart/form-data">

            <label for="file" style="font-weight: 600;">Dosya :</label>
            <input class="btn btn-info mb-3" type="file" name="file" id="file" />

            <input class="form-control mb-3" type="text" name="isbnByHand" id="isbn" placeholder="isbn" value="isbn"/>

            <input class="btn btn-primary" type="submit" />

        </form>

        <div class="mt-2">
            @ViewBag.deliverState
        </div>

    </div>
</body>
</html>
