
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/StyleSheets/style.css" rel="stylesheet" />
    
    
</head>
<body>
    <h1>@ViewBag.userName</h1>
    <div style="display: block; text-align: center; margin-top: 2rem;">
        <button style ="display:inline-block;" id="btnSearchBook" class="btn btn-info" type="button" onclick="location.href='@Url.Action("ListBooks")'">Kitap ara</button>
        <button style ="display:inline-block;" id="btn_my_books" class="btn btn-info" type="button" onclick="location.href='@Url.Action("MyBooks")'">Kitaplarım</button>
        <button style ="display:inline-block;" id="btn_give_books" class="btn btn-info" type="button" onclick="location.href='@Url.Action("GiveBook")'">Kitap ver</button>

    </div>
</body>
</html>
